* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  min-height: 100vh;
  background-color: #283557;
  color: #f8f6e7;
}

.game-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 1vw;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

.board {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 3rem;
  display: grid;
  gap: 0.25rem;
  grid-template: repeat(3, 9rem) / repeat(3, 9rem);
}

.board li {
  display: grid;
  place-content: center;
  background-color: #5a82fc;
  color: #283557;
}

.info {
  text-align: left;
}

.info ul {
  padding-top: 2rem;
  display: grid;
  gap: 1rem;
}

.info li {
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: #2d4583;
}
